body {
  text-align: justify;
}
p {
  text-indent: 25px;
}
.p-center {
  text-indent: 0px;
  text-align: center;
}
.p-right {
  text-align: right;
  margin-bottom: 0px;
  margin-top: 0px;
}
@page {
  size: a4 portrait;
  margin: 25mm 10mm 25mm 10mm;
  counter-increment: page;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: pre;
  color: grey;
  @top-left {
      content: '© 2023 artesdosul.com';
  }
  @top-center {
      content: string(chapter);
  }
  @top-right {
      content: 'Página ' counter(page);
  }
}

a .md-button, p .md-button {
  text-indent: 0px !important;
}

.md-typeset .grid {
  grid-gap: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  margin: 1em 0;
}

div .grid .cards {
  display: grid !important;
}

div .grid .cards ul {
  display: contents !important;
  flex-basis: content !important;;
}

.md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  display: block;
  margin: 10px;
  padding: 0.8rem;
  transition: border .25s,box-shadow .25s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 7px 0px;
  border-radius: 7px;
}
.md-content__inner>p>a>img {
  align-items: center;
}